src/main/resources/myWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="soseng.wsdl" xmlns:xsd1="soseng.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="soseng.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="soseng.xsd" xmlns:sch="soseng.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="namedHello"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="namedHelloResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="msg" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="HelloResponse">
    <wsdl:part name="body" element="xsd1:namedHelloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HelloRequest">
    <wsdl:part name="body" element="xsd1:namedHello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloPort">
    <wsdl:operation name="namedHello">
      <wsdl:input message="tns:HelloRequest">
    </wsdl:input>
      <wsdl:output message="tns:HelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloPortSOAPBinding" type="tns:HelloPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="namedHello">
      <soap:operation soapAction="namedHello" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloPortService">
    <wsdl:port name="HelloPortServicePort" binding="tns:HelloPortSOAPBinding">
      <soap:address location="http://localhost:8000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
