src/main/resources/magazzinoEsterno/MagazzinoEsterno.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="acme.wsdl" xmlns:xsd1="acme.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="acme.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="acme.xsd" xmlns:sch="acme.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="ordineComponenteCicli"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="indirizzoMagazzino" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="codiceComponente" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ordineComponenteAccessori"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="indirizzoMagazzino" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="accessorio" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="consegnaAccessorioCorriere"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="statusPacco" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="RichiestaComponenteCicli">
    <wsdl:part name="body" element="xsd1:ordineComponenteCicli">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RichiestaComponenteAccessori">
    <wsdl:part name="body" element="xsd1:ordineComponenteAccessori">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RichiestaConsegnaAccessori">
    <wsdl:part name="body" element="xsd1:consegnaAccessorioCorriere">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="magazzinoEsternoService">
    <wsdl:operation name="ordineComponenteCicli">
      <wsdl:input message="tns:RichiestaComponenteCicli">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ordineComponenteAccessori">
      <wsdl:input message="tns:RichiestaComponenteAccessori">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="consegnaAccessorioCorriere">
      <wsdl:input message="tns:RichiestaConsegnaAccessori">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="magazzinoEsternoServiceSOAPBinding" type="tns:magazzinoEsternoService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ordineComponenteCicli">
      <soap:operation soapAction="ordineComponenteCicli" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ordineComponenteAccessori">
      <soap:operation soapAction="ordineComponenteAccessori" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consegnaAccessorioCorriere">
      <soap:operation soapAction="consegnaAccessorioCorriere" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="magazzinoEsternoServiceService">
    <wsdl:port name="magazzinoEsternoServiceServicePort" binding="tns:magazzinoEsternoServiceSOAPBinding">
      <soap:address location="http://localhost:8003"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
